body {
	color: black;
}

.bs-example {
	margin: 20px;
}

hr{
  margin: 60px 0;
}

.logo {
	display: inline;
	margin-top: 1em;
	padding-top: 4em;
	text-align: center;
}

.header-center {
/*	padding-top: 1em;
	padding-bottom: 1em;*/
	text-align: center;
}

/* -----------------------RESPONSIVE DESIGN CHOICES -------------- /*

/* Large desktop */
@media (min-width: 1200px) {

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}
 
/* Landscape phones and down */
@media (max-width: 480px) {

}


